html {
  background-color: #282c34;
}
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: white;
}

#prompt-input {
  /* position */
  /* position: absolute; */
  bottom: 20px;
  
  /* size */
  height: 50px;
  width: 50vw;
  
  /* spacing */
  padding-right: 15px;
  padding-left: 15px;
  
  /* other */
  border-radius: 25px;
  font-size: 2vmin;
  outline: none;
  background-color: #373d48;
  box-shadow: none;
  color: white;
  border: none;
}

.chat-container {
  /* position: absolute; */
  bottom: 90px;
  top: 0px;
  /* height: auto; */
  width: 50vw;
  overflow-y: scroll;
  overflow: hidden;
}

.chat-bubble-container {
}
.input-message-container {
  text-align: right;
}
.output-message-container {
  text-align: left;
}


.chat-bubble {
  border-radius: calc(2vmin + 20px);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}
.input-message {
  background-color: #373d48;
  text-align: right;
}
.output-message {
  background-color: #16181d;
  text-align: left;
}

.answer-options-container {
}
.answer-option {
  opacity: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #16181d;
  margin: 15px;
  display: inline-block;
  user-select: none;
  animation-name: color-pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: opacity 0.5s;
}
.answer-option:hover {
  opacity: 100%;
}

@keyframes color-pulse {
  0% {background-color: #373d48;}
  50% {background-color: #435656;}
  100% {background-color: #373d48;}
}